.container {
  border: 1px dashed#b2b5be;
  border-radius: 5px;
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  min-height: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container:hover {
  cursor: pointer;
  scale: 1.01;
  transition: 0.2s;
}

.container p {
  font-size: 1rem;
  margin: 5px 0px;
  color: #b2b5be;
}

.container .title {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 5px 0px;
  position: absolute;
  left: 5px;
  top: 0px;
  font-style: italic;
}
