.container {
  width: 80%;
  margin: auto;
}

.container .title {
  color: #ebebef;
  font-weight: 200;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.line {
  border: 1px solid #b2b5be79;
}

.formitems_container {
  width: 60%;
  margin: auto;
  color: #ebebef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.125rem;
}

.formitems_container span {
  margin: 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.formitems_container input[type="text"] {
  padding: 5px;
  width: 100%;
  font-size: 1.125rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #b2b5be79;
  color: #ebebef;
  box-sizing: border-box;
}

.formitems_container input[type="text"]:focus {
  outline: none;
}

.button_container {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.button_container input {
  width: 30%;
  padding: 8px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.button_container input[type="reset"] {
  background-color: transparent;
  border: 1px solid #ebebef;
  color: #ebebef;
}

.button_container input[type="submit"] {
  background-color: #ebebef;
  border: none;
  font-weight: 400;
}
.button_container input[type="reset"]:hover {
  cursor: pointer;
}
.button_container input[type="submit"]:hover {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .formitems_container {
    width: 90%;
  }
}
